.thumb {
    object-fit:cover;
}

body {
    background-color: #FEFBEA;
}

h3 {
    font-size: 2rem;
}

#gallery {
    display: inline-block;
}

.content {
    text-align: center;
    margin: 1rem;
}

.thumb:hover {
    filter: brightness(80%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

footer {
    text-align: center;
}